[submodule "d-ai-token-visualizer"]
	path = d-ai-token-visualizer
	url = https://github.com/tkubica12/d-ai-token-visualizer.git
[submodule "scalable-ai-chat"]
	path = scalable-ai-chat
	url = https://github.com/tkubica12/scalable-ai-chat.git
[submodule "d-ai-sentiment"]
	path = d-ai-sentiment
	url = https://github.com/tkubica12/d-ai-sentiment.git
[submodule "d-ai-email-processing"]
	path = d-ai-email-processing
	url = https://github.com/tkubica12/d-ai-email-processing.git
[submodule "d-ai-self-orchestration"]
	path = d-ai-self-orchestration
	url = https://github.com/tkubica12/d-ai-self-orchestration.git
[submodule "d-ai-compare-orchestrations"]
	path = d-ai-compare-orchestrations
	url = https://github.com/tkubica12/d-ai-compare-orchestrations.git
[submodule "d-apim-ai"]
	path = d-apim-ai
	url = https://github.com/tkubica12/d-apim-ai.git
