.classpath
.project
target
node_modules
.idea
*.iml

.factorypath
*.pydevproject
.metadata
.gradle
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/**
*/.settings/**
.vscode/**
*/.vscode/**
.loadpath

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# CDT-specific
.cproject

# PDT-specific
.buildpath

# TeXlipse plugin
.texlipse

w-aks-intro/resources/kustomize/environments/tomas
w-aks-intro/challenge/solutions/

.terraform
.terraform*
*tfstate*
.secrets

garage
DELETE.terraform/

.ipynb_aml_checkpoints
*.amltmp 
*.amltemp
.amlignore.amltmp
.amlignore
d-azureml/local_dev/y_train.csv
d-azureml/local_dev/X_test.csv
d-azureml/local_dev/X_train.csv
d-azureml/local_dev/y_test.csv
d-azureml/local_dev/scaler.save

__pycache__
.venv
local.settings.json
d-ai-inference-sdk-with-monitoring/src/.env
.codetocloud/azure.json
