prefix="jnt-auth-entra"
PAGE_NAME="JnT Demo Aplikace"
APIM_NAME="apimname"
MAIN_CLIENT_ID="57ab50d7-249c-43d3-a603-70ba920fe8b4"
MAIN_CLIENT_SECRET="secret"
API_CLIENT_ID="c528570a-f02f-4bc0-b662-fa266b0c13aa"
API_CLIENT_SECRET="secret"
BACKGROUND_CLIENT_ID="f2841702-7d13-43bc-9f69-c9105fb2922f"
BACKGROUND_CLIENT_SECRET="secret"
APIM_CLIENT_ID="820ef2ea-1283-486e-94c1-e4db566f9632"
APIM_CLIENT_SECRET="secret"